

body, p, .texto, .btn-login {
    font-family: "Causten", sans-serif;
}

h1 {
    font-family: "Azurite", sans-serif;
}
.page-wrapper {
    display: flex;
    height: calc(100vh - 60px);
}

.left-panel {
    width: 45%;
    background: #ffffff;
    padding: 50px 45px;
    overflow-y: auto;
    border-right: 2px solid #e0e0e0;
}

.logo {
    width: 90px;
    margin-bottom: 20px;
}

.left-panel h1 {
    font-size: 32px;
    color: #3d2c1e;
    margin-bottom: 20px;
}

.texto {
    font-size: 17px;
    color: #4a4a4a;
    line-height: 1.55;
    margin-bottom: 18px;
}


.btn-login {
    display: inline-block;
    background: #f2b705;
    color: #3c3931;
    font-weight: bold;
    padding: 14px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #3a2a1a;
    transition: 0.2s;
    
}

.btn-login:hover {
    background: #cfa842;
}


.right-panel {
    width: 35%;
    background-image: url("engenharia-bg.jpg");
    background-size: cover;
    background-position: center;
}


.rodape {
    height: 60px;
    background: #3c3931;
    color: #ffd85a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 14px;
}

.rodape a {
    color: #ffd85a;
    text-decoration: none;
}

.sep {
    opacity: 0.6;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(./imagens/img1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #f2f2f2;
}
.content-box {
    width: 40%;
    min-width: 380px;
    background-color: #ffffff;
    padding: 40px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 5px 0 30px rgba(0,0,0,0.2);
}