html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #f4f4f4;

    display: flex;
    height: 100vh;
}

.layout {
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background: #f0f0f0;
    border-right: 1px solid #ddd;
    padding: 20px 0;
}

.logo-area {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 85px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu .item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    color: #444;
    text-decoration: none;
    font-size: 15px;
}

.menu .item i {
    font-size: 18px;
}

.menu .item:hover {
    background: #e8e8e8;
}

.menu .item.active {
    color: #f2b705;
    font-weight: bold;
}

hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.conteudo {
    flex: 1;
    padding: 30px;

    display: flex;
    flex-direction: column; 
    min-height: 100%;
}

.titulo {
    font-size: 32px;
    margin-bottom: 20px;
}

.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filtros input,
.filtros button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.filtros button {
    background: #f2b705;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.tabela thead {
    background: #f2b705;
    color: white;
}

.tabela th,
.tabela td {
    padding: 14px;
    border-bottom: 1px solid #eee;
    text-align: center !important;
    vertical-align: middle !important;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.btn.negar { color: red; }
.btn.aprovar { color: green; }

.rodape {
    background: #3c3931;
    color: white;
    padding: 15px 25px;
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    font-size: 14px;
}

.rodape a {
    color: #f2b705;
    text-decoration: none;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-btn {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.modal-btn.negar {
    background: red;
    color: white;
}

.modal-btn.cancelar {
    background: #ccc;
}
@font-face {
    font-family: "FonteTitulo";
    src: url("./fontes/azurite-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FonteTexto";
    src: url("./fontes/Causten-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    background: #f4f4f4;
    font-family: "FonteTexto", sans-serif;
}
.titulo {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "FonteTitulo", sans-serif;
} 