body {
            font-family: "Baloo Da 2", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-size: 15px;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0.20px;

            margin: 0;
            padding: 0;
            display: flex; 
            background-color: #F0F0F0; 
        }

        button {
            font-family: "Baloo Da 2", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-size: 15px;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0.20px;
        }

        h1 {
            font-family: "Krona One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

          h2 {
            margin-bottom: 25px;
            font-size: 24px;
        }

        .esquerda-container {
            width: 40%; 
            background-color: #F6F6F6;
            padding: 50px;
            box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center; 
        
        }

        .direita-container {
            width: 60%;
            background-image: url('./media/img1.png');
            background-size: cover;
            background-position: center;
        }
        
        .logo-login {
            text-align: center;
            margin-bottom: 20px;
            background-color: none;
        }
        

        .google-login button {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #F6F6F6;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 20px;
        }
        
        .separator {
            text-align: center;
            margin: 20px 0;
            font-size: 14px;
            color: #aaa;
        }

        .formulario label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 14px;
        }

        .formulario input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        .formulario input[type="text"], .formulario input[type="password"] {
            height: 40px;
            border-radius: 5px;
        }
       
        .form-options {
            display: flex;
            margin-bottom: 20px;
            font-size: 14px;
        }

        .btn-submit {
            width: 100%;
            padding: 12px;
            background-color: #ECB922;
            color: #3C3931;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
        }

        .signup-link {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #3C3931;
            color: #F6F6F6;
            padding: 10px 10px;
            font-size: 12px;
            text-align: center;
        }
        .footer a, span {
            color: #ECB922;
            gap: 20px;
            text-decoration: none;
            margin-left: 15px;
        }

        .centro-container {
            width: 40%; 
            padding: 10%;
            align-items: center;
            background-color: #F6F6F6;
            padding: 50px;
            box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            justify-content: center; 
        
        }

.solicitacoesRecentes {
    background-color: #F6F6F6;
    border: #3c393159 1px solid;
    width: auto;
    height: 350px;
    left: 0px;
    top: 0px;
    box-shadow: 3px 3px 1px rgba(60, 57, 49, 0.20);
    border-radius: 3px;
    padding:15px;
    alignment-baseline: central;
    align-content: flex-start;
    padding-bottom: 30px;


}

.tabela-solicitacoes { 
    border-radius: 3px;
    border: #3c393159 1px solid;
    width: 100%; 

    outline: 1px #3c393159 solid; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    border: #d7d7d7 1px solid;
    text-align: center;


}

th {
    background-color: #d7d7d7;
    padding: 5px;
}


.topoSolicitacoes {
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.botao-solicitacao {
    background-color: #ECB922; 
    color: #3C3931;
    border: 1px solid #3c393159;
    border-radius: 3px;

    align-items: center;
    height: 45px;
    padding: 10px ;
    cursor: pointer;
    display: flex;
    gap: 20px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

