
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F5F5F5;
}

.sidebar {
    width: 220px;
    background: #f0f0f0;
    border-right: 1px solid #ddd;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}

.logo {
    text-align: center;
    padding: 20px 0;
}
.logo img {
    width: 90px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    cursor: pointer;
    color: #3D3D3D;
    font-size: 15px;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s;
}

.menu-item:hover {
    background: #c9c6c6;
}

.menu-item .icon {
    font-size: 18px;
    width: 20px;
    text-align: center;
}

.menu-item.active {
    color: #f2b705;
    font-weight: bold;
}

.menu-item.active .icon {
    color: #F2B200;
}

.menu-item.ajuda,
.menu-item.ajuda .icon {
    color: #000 !important;
}

.menu-item.ajuda:hover {
    background: #dcdcdc;
}
.divider {
    width: 80%;
    height: 1px;
    background: #c0c0c0;
    margin: 20px auto;
}

.content {
    margin-left: 235px;
    padding: 35px 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 65%;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 15px;
    background: #fff;
}

.search-box input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.filters {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}

button.filter-btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 7px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.clear-filter {
    color: #E0B425;
    cursor: pointer;
}

table {
    width: 65%;
    border-collapse: collapse;
    margin-top: 25px;
    background: white;
}

th {
    background: #E0B425;
    padding: 10px;
    text-align: left;
    color: #fff;
    font-weight: 600;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}


.summary-box {
    background: white;
    margin-top: 20px;
    width: 65%;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16);
}

.summary-header {
    background: #E0B425;
    padding: 10px;
    color: #333;
    font-weight: bold;
}

.summary-content {
    padding: 15px;
    font-size: 14px;
}


h2 {
    margin-top: 45px;
    font-size: 30px;
}

.bar-chart {
    width: 100%;
    max-width: 950px;
    height: 320px;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 20px;
    position: relative;
}

#graficoBancoHoras {
    width: 100% !important;
    height: 100% !important;
}

    .filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filtros input,
.filtros button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.filtros button {
    background: #f2b705;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.botoes-acoes {
    display: flex;
    gap: 10px; 
}

.btn-acao {
    background-color: #d4ad2c;  
    border: none;
    padding: 8px 18px;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.btn-acao:hover {
    background-color: #b89222;
}
