body {
            font-family: "Baloo Da 2", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-size: 15px;
            font-style: normal;
            line-height: 30px;
            letter-spacing: 0.20px;

            margin: 0;
            padding: 0;
            display: flex; 
            background-color: #F0F0F0; 

            color: #3C3931;
}



    button {
        font-family: "Baloo Da 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 0.20px;
    }

    hr {
        color: #3c393159;
        width: 80%;
    }

    h1 {
        font-family: "Krona One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        margin-bottom: 25px;
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: #3C3931;
    }

        .esquerda-container {
            width: 40%; 
            background-color: #F6F6F6;
            padding: 50px;
            box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center; 
        
        }

        .direita-container {
            width: 60%;
            background-image: url('./media/img1.png');
            background-size: cover;
            background-position: center;
        }
        
        .logo-login {
            text-align: center;
            margin-bottom: 20px;
            background-color: none;
        }
        

        .google-login button {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #F6F6F6;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 20px;
        }
        
        .separator {
            text-align: center;
            margin: 20px 0;
            font-size: 14px;
            color: #aaa;
        }

        .formulario label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 14px;
        }

        .formulario input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        .formulario input[type="text"], .formulario input[type="password"] {
            height: 40px;
            border-radius: 5px;
        }
       
        .form-options {
            display: flex;
            margin-bottom: 20px;
            font-size: 14px;
        }

        .btn-submit {
            width: 100%;
            padding: 12px;
            background-color: #ECB922;
            color: #3C3931;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
        }

        .signup-link {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #3C3931;
            color: #F6F6F6;
            padding: 10px 10px;
            font-size: 12px;
            text-align: center;
        }
        .footer a, span {
            color: #ECB922;
            gap: 20px;
            text-decoration: none;
            margin-left: 15px;
        }


.nav {
    width: 250px;
    height: 100vh; 
    background-color: #F0F0F0; 
    display: flex;
    flex-shrink: 0;
    position: sticky;
    row-gap: 20px;
    padding-top: 30px; 
    padding-left: 50px;
    border-right: 1px solid #3c393159; 
    border-bottom: 1px solid #3c393159; 

    border-radius: 3px;


}

.menuItem:hover {
    background: #ecb92262;
}

.menu .item.active {
    color: #ECB922;
    font-weight: bold;
}

.menuItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3C3931; 
    padding: 15px 0px; 
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    gap: 20px; 
}

#menuLogo {
    align-items: center;
    justify-content: center;
}

main {
    padding: 40px;
    width: 100%;
    overflow-y: auto; 
    padding-bottom: 80px;
    
}

/*Dashboard*/
.dashboard-grid {
    display: flex;
    gap: 30px; 
    align-items: flex-start; 
}

.coluna-centro {
    margin: 0 auto;
    width: 100%;
    max-width: 850px; 
}

.coluna-esquerda {
    flex: 1.6; 
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.coluna-direita {
    flex: 1; 
}

.mainHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    margin: 0 auto 30px auto;

}

.container {
    background-color: #F6F6F6; 
    border: 1px solid #3c393159; 
    border-radius: 6px;
    padding: 25px;
    box-shadow: 3px 3px 1px rgba(60, 57, 49, 0.20);
    height: auto; 
    width: auto;

}

/*GRÁFICO Banco de Horas*/
.container-grafico {
    min-height: 450px;
}

.funcionario-select {
    width: 60%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F0F0F0;
}

.grafico-legenda {
    margin-bottom: 30px;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5px;
    color: #555;
}

.dot {
    width: 20px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
}
.dot.trabalhado { background-color: #3C3931; }
.dot.devida { background-color: #ECB922; }


/* Estrutura visual do gráfico */
.chart-wrapper {
    display: flex;
    align-items: flex-end;
    height: 200px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    position: relative;
    margin-left: 30px; 
    
    background: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 49px,
        #ddd 50px
    );
}

.y-axis {
    position: absolute;
    left: -35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    color: #666;
    bottom: -5px;
}

.chart-area {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-left: 30px; }

.bar-group {
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 100px; 
}

.bar-dark { background-color: #3C3931; }
.bar-yellow { background-color: #ECB922; }

.x-axis {
    display: flex;
    margin-left: 80px; 
    margin-top: 5px;
    gap: 70px;
    font-size: 11px;
    color: #666;
}

/*TABELAS*/

.tabela1 { 
    border-radius: 3px;
    border: #3c393159 1px solid;
    width: 100%; 

    outline: 1px #3c393159 solid; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    border-collapse: collapse;

    border: #d7d7d7 1px solid;
    text-align: center;
}

.tabela1 thead {
    background: #ECB922;
    color: #3C3931;
    padding: 5px;
}

.filtros {
    display: flexbox;
    gap: 30px;
    margin-bottom: 20px;
}

.filtros input, .filtros button {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

td button {
    border: none;
}

/*containers*/

.topoContainer {
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#botaoNovaSolicitacao:hover {
    background-color: #f0f0f0;
}

.botaoContainer, .botaoContainerPreto {
    background-color: #ECB922; 
    color: #3C3931;
    border: 1px solid #3c393159;
    border-radius: 3px;

    align-items: center;
    display: inline-flex;
    justify-content: center;

    margin-bottom: 20px;
    padding: 10%;
    height: 45px;
    padding: 10px ;
    cursor: pointer;
    display: flex;
    gap: 20px;

    box-shadow: 3px 3px 1px rgba(60, 57, 49, 0.20);
}

.botaoContainerPreto {
    background-color: #3C3931; 
    color: #f0f0f0;
    height: fit-content;
    width: 100%;
}

.botoes-formulario {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.botaoContainerCancelar {
    background-color: #3C3931; 
    color: #ECB922;
    border: 1px solid #3c393159;
    border-radius: 3px;

    align-items: center;
    display: inline-flex;
    justify-content: center;

    margin-bottom: 20px;
    padding: 10%;
    height: 45px;
    padding: 10px ;
    cursor: pointer;
    display: flex;
    gap: 20px;

    box-shadow: 3px 3px 1px rgba(60, 57, 49, 0.20);

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-btn {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px; 
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333; 
    color: #f0f0f0; 
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1000; 
    left: 50%;
    bottom: 30px; 
    transform: translateX(-50%); 
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s, visibility 0.5s;
}